.App {
  text-align: center;
}
.content{
  position: relative;
  left: -45px;
  
}
.bg-img{
  background: url("https://images.pexels.com/photos/1445416/pexels-photo-1445416.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
}

.eye{
  cursor: pointer;
}
.loading{
  position: relative;
  left:420px;
}
.top{
  margin-top: 500px;
}
.addPostProject{
  width: 190px;
}
.text-filed1{
  width: 600px;
}
.text-filed2{
  width: 180px;
}
.text-filed3{
  width: 330px;
}
.bg-light{
  background: #f1f1f1;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#error{
  border: 1px solid;
  border-radius: 12px;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
#error {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.search-box{
  margin-top: 100px;
}